# GOOGLE_CLIENT_ID=your_google_client_id_here
# GOOGLE_CLIENT_SECRET=your_google_client_secret_here
# OTP_SECRET=your_otp_secret_here
# MAIL_USERNAME=your_email@gmail.com
# MAIL_PASSWORD=your_email_app_password
# JWT_SECRET=your_jwt_secret_here
# CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
# CLOUDINARY_API_KEY=your_cloudinary_api_key
# CLOUDINARY_API_SECRET=your_cloudinary_api_secret
GOOGLE_CLIENT_ID=375366858754-rt425rkvu5j9bf58rusgs8etj6ph7bbd.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
OTP_SECRET=BiMatCuaBan123
MAIL_USERNAME=khanhdh2k5@gmail.com
MAIL_PASSWORD=esvfndvovbyyzipe
JWT_SECRET=9B9A3B5B84A3B43C3E147A39618B4A2D7F395A7C482A3B4C5D6E7F8G9H0J1K2L
CLOUDINARY_CLOUD_NAME=obgdpmta
CLOUDINARY_API_KEY=637426547437889
CLOUDINARY_API_SECRET=aFONxocBM_Ap7_OgXlLG9xjSJWk

